body {
    width: 1440px;
    background-color: #FAFAFA;
}

h1,
h2,
h3,
h4 {
    font-family: inter, sans-serif;
    font-weight: 700;
    color: #2E363E;
    margin: 0;
}

p {
    color: #434B53;
    font-family: inter, sans-serif;
    font-weight: 400;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.conteiner {
    width: 1180px;
    margin: 0 auto;
    padding: 175px 130px;
    outline: 2px solid red;
}

.header {}

.conteiner-header {
    padding: 50px 0;
    display: flex;
    align-items: center;
    gap: 239px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 145px;
}

.header-link-logo {
    color: #5F0A61;
    font-size: 25px;
}

.header-link-logo:hover {
    color: #ef03f3;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-item {}

.header-link-nav {
    color: #2E363E;
    font-size: 18px;
}

.header-link-nav:hover {
    color: #ef03f3;
}

.header-link {
    color: #5F0A61;
    font-size: 18px;
    font-weight: 700;
}

.header-link:hover {
    color: #ef03f3;
}

.conteiner-hero {
    display: flex;
    gap: 27px;
    align-items: center;
    padding: 80px 0 105px;
}

.hero-div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero-titel {
    font-size: 48px;
    line-height: 1.30;
    letter-spacing: -0.01em;
    color: #2E363E;
}

.hero-text {
    font-size: 21px;
    line-height: 1.60;
    letter-spacing: -0.02em;
    color: #434B53;
}

.hero-btn {
    width: 337px;
    height: 70px;
    background-color: #5F0A61;
    border: 1px solid #5F0A61;
    color: #FAFAFA;
    border-radius: 5px;
    font-size: 21px;
    line-height: 1.43;
    letter-spacing: -0.02em;
    font-weight: 500;
}

.hero-img {}

.features {
    background-color: #f7f2f2;
}

.conteiner-features {
    padding: 149px 0;
}

.features-title {
    text-align: center;
    padding-bottom: 69px;
}

.features-list {
    display: flex;
    gap: 66px;
}

.features-item {
    width: 359px;
}

.features-subtitle {
    text-align: center;
    padding-bottom: 4px;
}

.features-text {}

.connect {}

.conteiner-connect {
    padding: 175px 0;
    display: flex;
    gap: 94px;
}

.connect-div {}

.connect-img {}

.connect-title {
    font-size: 36px;
    line-height: 1.30;
    letter-spacing: -0.028em;
    padding-bottom: 20px;
}

.connect-text {
    font-size: 21px;
    line-height: 1.43;
    letter-spacing: -0.00095em;;
    padding-bottom: 28px;
}

.connect-list {
    display: flex;
    gap: 70px;
}

.connect-item {
    width: 168px;
}

.connect-subtitle {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: normal;
    color: #5F0A61;
}

.connect-text-li {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2E363E;
}

.reviews {
    background-color: #f7f2f2;
}

.conteiner-reviews {
    padding: 175px 130px;
}

.reviews-div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 536px;
    height: 404px;
}

.reviews-div-two {
    display: flex;
        flex-direction: column;
}

.reviews-title {
    font-size: 36px;
    padding-bottom: 60px;
    text-align: center;
}

.reviews-subtitle {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.43em;
    letter-spacing: normal;
}

.reviews-text {
    font-size: 15px;
}

.reviews-link {
    font-size: 17px;
    text-decoration: underline;
    color: #5F0A61;
}

.reviews-link:hover {
    color: #ef03f3;
}

.reviews-img {
    padding-bottom: 21px;
}

.reviews-subtitle-four {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.43em;
    letter-spacing: normal;
}

.reviews-subtext {
    font-size: 16px;
    line-height: 1.70em;
    letter-spacing: normal;
    color: #A6AEB6;
}

.tariff {}

.conteiner-tariff {
    padding-left: 0;
    padding-right: 0;
}

.tariff-title {
    padding-bottom: 60px;
    font-size: 36px;
    line-height: 1.33em;
    letter-spacing: normal;
    text-align: center;
}

.tariff-list {
    display: flex;
    gap: 20px;

}

.tariff-item {
    color: #FFFFFF;
    box-shadow: 1px 1px 6px #cfcbcb;
    padding: 20px 35px 35px;
    border-radius: 10px;
}

.tariff-img {
    margin: 0 30px 50px;
}

.div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
    margin-bottom: 42px;
}

.tariff-subtitle {
    font-size: 27px;
    font-weight: 700;
    line-height: 1.10;
    letter-spacing: normal;
}

.tariff-subtitle-four {
    color: #434B53;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.10;
    letter-spacing: normal;
}

.tariff-text {}

.mbit {
    color: #2E363E;
    font-size: 18px;
    line-height: 1.10em;
    letter-spacing: normal;
    font-weight: 600;
}

.tariff-link {
    text-decoration: underline;
    color: #5F0A61;
    margin-left: 200px;
}

.tariff-link:hover {
    color: #ef03f3;
}

.request {
    background-color: #f7f2f2;
}

.conteiner-request {
    padding: 175px 0;
}

.request-title {
    font-size: 36px;
    line-height: 1.30;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 26px;
}

.request-text {
    font-size: 21px;
    line-height: 1.43;
    letter-spacing: -0.02em;
    text-align: center;
    padding-bottom: 50px;
}

.request-div {
    text-align: center;
}

.request-input {
    width: 280px;
    height: 70px;
    border-radius: 5px;
    font-size: 17px;
    line-height: 1.10;
    letter-spacing: normal;
    color: #BFBFBF;
    border: 1px solid #BFBFBF;
}

.request-btn {
    width: 280px;
    height: 70px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.10;
    letter-spacing: normal;
    border: 1px solid #5F0A61;
    background-color: #5F0A61;
    color: #FFFFFF;
}

.footer {
    background-color: #5F0A61;
}

.conteiner-footer {
    display: flex;
    justify-content: space-between;
    padding: 91px 0;
}

.footer-link-logo {
    font-size: 30px;
    line-height: 1.30;
    letter-spacing: normal;
    font-weight: 500;
    color: #FAFAFA;
    color: #FFFFFF;
}

.footer-link-logo:hover {
    color: #e684e8;
}

.footer-list {
    display: flex;
    gap: 40px;
}

.footer-item {}

.footer-img {}

.footer-link {
    color: #FAFAFA;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.10;
    letter-spacing: normal;
}

.footer-link:hover {
    color: #e684e8;
}

/*-------------------tariffs------------------*/

.offers {}

.offers-title {}

.offers-list {}

.offers-item {}

.offers-img {}

.subtitlte {}

.offers-subtitle-four {}

.offers-text {}

.offers-link {}